@media only screen and (min-width: 750px){
	#top_nav{
		background: #5FCF80;
		padding: 30px;
		height: 60px;
	}
	.logo{
		float:left;
		max-width: 20%;
		color: white;
		padding: 0 20px;
	}
	.logo:hover{
		color: green;
	}
	ul li{
		color: white;
		margin-left: 10px;
	}
	ul li:hover{
		color: green;
	}
	nav{
		float: right;
	}
	footer{
		text-align: center;
		margin-top: 500px;
	}
	.form_label{
		width: 250px;
		float:left;
		margin-left: 150px;
		margin-top:64px; 
	}
	.form_field{
		float: right;
		margin-right: 290px;
		margin-top:60px; 
	}
	.form_submit{
		float:left;
		margin-left: 200px;
		margin-top:50px;
		height: 60px;
		width: 170px;
		background: #5FCF80;
		color:white;
		border-radius: 100px;
	}
	.error{
		color: red;
		text-align: center;
	}
	h3{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	p{
		margin-top: 10px;
	}
	#index_all{
		float: left;
		max-width: 50%;
		margin-left: 40px;
		margin-bottom: 20px;
		margin-top: 30px;
	}
	#index_all a{
		margin-top: 120px;
		margin-left: 10px;
	}
	.file_field{
		margin-top: 60px;
		margin-right:210px;
	}
	#shop_img{
		border-radius: 25px;
    	background: #5FCF80;
    	padding: 10px;
    	width: 80px;
    	height: 70px;
    	margin-top: 30px; 
    	float:left;
	}
	.field{
		text-align: center;
		margin-top: 40px;
	}
	.actions{
		margin-left: 700px;
		margin-top: 30px; 
	}
	h1{
		text-align: center;
	}
	.linker{
		margin-left: 600px;
		margin-top: -20px; 
	}
	.link{
		margin-left: 600px;
		margin-top: 20px;	
	}

}