@media only screen and (min-width: 900px){
	header{
		height: 50px;
	}
	.logo{
		float:left;
		max-width: 20%;
		color: white;
		padding: 0 20px;
	}
	.logo:hover{
		color: green;
	}
	ul li a{
		color: white;
		margin-left: 5px;
	}
	ul li a:hover{
		color: green;
	}
	nav{
		float: right;
	}
	#feature{
	float:right;
	}
	#aboutus{
		float:right;
	}
	#aboutus h3{
		margin-right: 110px;
	}
	#right_index_content ul{
		margin-top: 20px;
	}
	#right_index_content ul li{
		margin-top: 10px;
	}
	footer{
		text-align: center;
		margin-top: 500px;
	}
	.img{
		opacity: .99;
	}
	.img:hover{
		opacity: .90;
	}

}