<header id="top_nav">
	<a href="/book_shops" class="logo">
		<h1>Book shop</h1>
		<h2>Online Book</h2>
	</a>
	<nav>
		<ul>
			<li><%=link_to("Home", book_shops_path)%></li>
			<li><%=link_to("Create New Shop", new_book_shop_path)%></li>
			<li><%=link_to("View Shop",book_shops_path)%></li>
		</ul>
	</nav>
</header>